<header class="site-header">
  <section class="nav-top">
    <div class="nav-top-img">
      <a href="/"><img alt="Papers We Love f(x)=x" src="/images/logo-top.svg" /></a>
    </div>
    <nav>
      <ul class="nav-top-list">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://patreon.com/pwlwpg">Patreon</a></li>
        <li><a href="https://twitter.com/pwlwpg">@pwlwpg</a></li>
      </ul>
    </nav>
  </section>
</header>
